body {
    width: 1000px;
    margin: 2em auto;
    font-family: 'Poppins', sans-serif;
    background-color: #f4fdf9;
    color: #333;
}

header {
    font-size: 1.8em;
    text-align: center;
    background-color: #b8e0d2;
    padding: 1.5em;
    border-radius: 10px;
    margin-bottom: 2em;
}

#carrega {
    text-align: center;
    margin-bottom: 2em;
}

#exercicis {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#menu {
    width: 30%;
    background-color: #d6f5d6;
    padding: 1.5em;
    border-radius: 8px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 0.8em 0;
    border-bottom: 1px solid #a3d9a5;
}

#contingut {
    width: 70%;
    background-color: #fffbe6;
    padding: 1.5em;
    border-radius: 8px;
}

#opcionsDistricte input {
    margin-right: 1em;
}
